services:
  headplane:
    image: ghcr.io/tale/headplane:latest
    container_name: headplane
    restart: unless-stopped
    ports:
      - '3000:3000'
    volumes:
      # Same as before
      - ./config/headplane.yaml:/etc/headplane/config.yaml
      - ./data/headplane:/var/lib/headplane

      # A shared path to the Headscale config file. It is important that the
      # path you mount this on matches `headscale.config_path` in your
      # Headplane config.yaml file.
      - ./config/headscale.yaml:/etc/headscale/config.yaml

      # If you are using dns.extra_records in Headscale (recommended), you
      # should also mount that file here so Headplane can read and write it.
      # Ensure that the path matches `headscale.dns_records_path` in your
      # Headplane config.yaml file.
      - ./config/dns_records.json:/etc/headscale/dns_records.json

      # Read-only access to the Docker socket (or a proxy)
      - '/var/run/docker.sock:/var/run/docker.sock:ro'
  headscale:
    image: headscale/headscale:latest
    container_name: headscale
    restart: unless-stopped
    command: serve
    labels:
      # This label is absolutely necessary to help Headplane find Headscale.
      me.tale.headplane.target: headscale
    ports:
      - '8080:8080'
      - '9090:9090'
    volumes:
      # Notice how these are on the exact same path as the host for both
      # Headscale and Headplane! This is very important.
      - ./config/headscale.yaml:/etc/headscale/config.yaml
      - ./config/dns_records.json:/etc/headscale/dns_records.json
      - ./data/headscale:/var/lib/headscale
  caddy:
    image: caddy:2
    container_name: caddy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./config/Caddyfile:/etc/caddy/Caddyfile:ro
      - ./data/caddy/data:/data
      - ./data/caddy/config:/config

volumes:
  caddy_data:
  caddy_config:
