services:
  headscale:
    image: headscale/headscale:latest
    container_name: headscale
    restart: unless-stopped
    command: serve
    labels:
      # This label is absolutely necessary to help Headplane find Headscale.
      me.tale.headplane.target: headscale
    ports:
      - '8080:8080'
      - '9090:9090'
    volumes:
      - ./config/headscale.yaml:/etc/headscale/config.yaml
      - ./config/dns_records.json:/etc/headscale/dns_records.json
      - ./data/headscale:/var/lib/headscale
  caddy:
    image: caddy:2
    container_name: caddy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./config/Caddyfile:/etc/caddy/Caddyfile:ro
      - ./data/caddy/data:/data
      - ./data/caddy/config:/config

volumes:
  caddy_data:
  caddy_config:
