vpn.abherifintech.publicvm.com {
    tls ultimateshubz@gmail.com

    header Strict-Transport-Security "max-age=31536000;"

    # UI → Headplane
    handle_path /admin* {
        reverse_proxy http://headplane:3000
    }

    # API → Headscale
    handle {
        reverse_proxy http://headscale:8080
    }
}
